.single__card {
  display: flex;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-image: url(../../assets/images/todos.avif);
  background-repeat: none;
  background-size: cover;
  transition: 0.2s;
}

.single__card--title {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.single__card--title:focus {
  outline: none;
}
.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .single__card {
    width: 100%;
  }
}
